body{
    margin: 0;
    background-color: black;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.product, .product1, .product2, .product3, .product4, .product5{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    border: 3px solid rgba(100,100,100);
    border-radius: 8px;
    padding: 10px;
    transition: .5s;
    overflow-y: hidden;
}

.products{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product:hover, .product1:hover, .product2:hover, .product3:hover, .product4:hover, .product5:hover{
    transform: scale(1.04);
}

.product:hover{
    box-shadow: 0 0 20px 5px rgb(255,255,0);
}

.product1:hover{
    box-shadow: 0 0 20px 5px rgb(0,255,0);
}

.product2:hover{
    box-shadow: 0 0 20px 5px rgb(0,200,200);
}

.product3:hover{
    box-shadow: 0 0 20px 5px rgb(255,90,200);
}

.product4:hover{
    box-shadow: 0 0 20px 5px rgb(0,130,200);
}

.product5:hover{
    box-shadow: 0 0 20px 5px rgb(255,189,51);
}

.product h1, .clubCard, .product2 h1, .product3 h1, .product4 h1, .product5 h1{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left:50px;
    width: calc(50%);
    text-transform: uppercase;
    text-align: left;
    color: white;
    margin-bottom: 0;
}

.product h1{
    font-size: 2em;
}

.clubCard{
    font-size: 1.5em;
    color: white;
}


.product3 h1{
    color: white;
    font-size: 2em;
}

.product5 h1{
    width: 300px;
    font-size: 1.5em;
}

.product p, .product1 p, .product2 p, .product3 p, .product4 p, .product5 p{
    display: flex;
    flex-wrap: wrap;
    max-width: 280px;
    color: rgb(150,170,150);
    margin-left: 50px;
    font-size: 1.2em;
}

.product-image{
    height: 300px;
    width: auto;    
}

.product-image2{
    height: 250px;
    width: auto;
}

.product-image5{
    width: 70%;
    margin: 60px;
    height: 240px;
}

#InStock .prodInStock{
    color: white;
    margin-top: 200px;
    font-size: 2.7em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.product-preview{
    display: flex;
    color: white;
    margin-left: 80px; 
    margin-right: 80px;
    overflow-x: auto;
    gap: 20px;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.product-item{
    flex-shrink: 0;
    scroll-snap-align: start;
}

.product-item p{
    color: green;
}

.product-preview{
    display: flex;
}

.showAll{
    position: absolute;
    margin-top: 50px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 200px;
    border-radius: 4px;
    background-color: rgb(0,50,0);
    font-weight: 700;
    border: 1px solid green;
    color: white;
}

.showAll:hover{
    background-color: rgb(0,70,40);
    transform: translateX(-50%) scale(.99);
}