body{
    margin: 0;
    background-color: black;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: sticky;
    top: 0;
    background-color: black;
    margin: 40px;
    color: white;
    height: 100px;
    z-index: 1000;
    display: flex;
    gap: 60px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: rgb(150,170,150);
}

header p{
    text-transform: uppercase;
    font-weight: 600;
}

.logo-image{
    transform: translateY(-20%);
    height: 150px;
    width: auto;
}

.line{
    display: block;
    background-color: #fff;
    height: 2px;
    width: 25px;
    margin: 5px;
    transform: translateY(30px) translateX(-80px);
    border-radius: 8px;
}


.menu p{
    transform: translateX(-20px) translateY(-2px);
}

.catalogue p{
    transform: translateY(-5px);
}


.catalogue-image{
    height: 20px;
    transform: translate(-40px, 35px);
}

.inStock{
    position: relative;
    margin-left: 20px;
}

.inStock p{
    transform: translateY(-12px);
}

.shell{
    height: 30px;
    width: 30px;
    background-color: rgb(0, 100,0);
    border-radius: 50%;
    opacity: .5;
    pointer-events: none;
}

.checkmark{
    display: inline-block;
}

.checkmark .line:nth-child(1){
    position: absolute;
    transform: translate(3px, -33px) rotateZ(45deg); 
    display: block;
    height: 3px;
    width: 7.5px;
    opacity: 1;
    background-color: rgb(0,155,0);
}

.checkmark .line:nth-child(2){
    position: absolute;
    transform: translate(5.5px,-36px) rotateZ(-45deg);
    width: 15px;
    height: 3px;
    background-color: rgb(0,155,0);
}

.checkMark{
    width: 30px;
    height: 30px;
    transform: translate(-50px,30px);
}

.inStock:hover .checkMark .shell{
    opacity: 1;
    background-color: rgb(0,205,0);
}

.inStock:hover .checkMark .line:nth-child(1),
.inStock:hover .checkMark .line:nth-child(2){
    background-color: white;
}

.newsAndPromotions{
    height: 0px;
}

.newsAndPromotions p{
    transform: translate(10px, -60px);
}

.newsAndPromotions:hover .ticket-circle{
    opacity: 1;
}

.newsAndPromotions:hover .ticket .line:nth-child(1),
.newsAndPromotions:hover .ticket .line:nth-child(2),
.newsAndPromotions:hover .ticket .line:nth-child(3),
.newsAndPromotions:hover .ticket .line:nth-child(4),
.newsAndPromotions:hover .ticket .line:nth-child(5),
.newsAndPromotions:hover .ticket .line:nth-child(6){
    background-color: #fff;
}

.ticket-image{
    transform: translate(-30px, 30px);
}

.ticket-circle{
    background-color: green;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    opacity: .5;
}

.ticket{
    display: inline-block;
}

.ticket .line:nth-child(1),
.ticket .line:nth-child(2),
.ticket .line:nth-child(3),
.ticket .line:nth-child(4),
.ticket .line:nth-child(5),
.ticket .line:nth-child(6){
    display: block;
    height: 1.5px;
    width: 15px;
    background-color: rgb(0,255,0);
    border-radius: 4px;
}

.ticket .line:nth-child(1){
    transform: translate(0, -25px) rotateZ(-45deg);
}

.ticket .line:nth-child(2){
    width: 8px;
    transform: translate(8.5px,-33px) rotateZ(90deg);
}

.ticket .line:nth-child(3){
    width: 7px;
    transform: translate(12px,-35.5px) rotate(10deg);
}

.ticket .line:nth-child(4){
    transform: translate(6px, -36.6px) rotate(-45deg);
}

.ticket .line:nth-child(5){
    width: 8px;
    transform: translate(2px, -46px);
}

.ticket .line:nth-child(6){
    width: 8.5px;
    transform: translate(5px,-49px) rotate(97deg);
}

.contacts{
    display: flex;
    gap: 20px;
    transform: translate(-30px,20px);
}

.contacts p{
    cursor: pointer;
}

.email{
    position: absolute;
    transform: translate(50px,30px);
    font-size: 1em;
    text-transform: none;
}

.contacts-image{
    height: 30px;
    transform: translateY(10px);
}

.phone-number{
    opacity: 0;
}

.phone-number p{
    max-width: 140px;
}

.menu, .catalogue, .inStock, .newsAndPromotions, .contacts{
    margin-left: 30px;
}

.product, .product1, .product2, .product3, .product4, .product5{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    border: 3px solid rgba(100,100,100);
    border-radius: 8px;
    padding: 10px;
    transition: .5s;
    overflow-y: hidden;
}

.products{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product:hover, .product1:hover, .product2:hover, .product3:hover, .product4:hover, .product5:hover{
    transform: scale(1.04);
}

.product:hover{
    box-shadow: 0 0 20px 5px rgb(255,255,0);
}

.product1:hover{
    box-shadow: 0 0 20px 5px rgb(0,255,0);
}

.product2:hover{
    box-shadow: 0 0 20px 5px rgb(0,200,200);
}

.product3:hover{
    box-shadow: 0 0 20px 5px rgb(255,90,200);
}

.product4:hover{
    box-shadow: 0 0 20px 5px rgb(0,130,200);
}

.product5:hover{
    box-shadow: 0 0 20px 5px rgb(255,189,51);
}

.product h1, .clubCard, .product2 h1, .product3 h1, .product4 h1, .product5 h1{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left:50px;
    width: calc(50%);
    text-transform: uppercase;
    text-align: left;
    color: white;
    margin-bottom: 0;
}

.product h1{
    font-size: 2em;
}

.clubCard{
    font-size: 1.5em;
    color: white;
}


.product3 h1{
    color: white;
    font-size: 2em;
}

.product5 h1{
    width: 300px;
    font-size: 1.5em;
}

.product p, .product1 p, .product2 p, .product3 p, .product4 p, .product5 p{
    display: flex;
    flex-wrap: wrap;
    max-width: 280px;
    color: rgb(150,170,150);
    margin-left: 50px;
    font-size: 1.2em;
}

.product-image{
    height: 300px;
    width: auto;    
}

.product-image2{
    height: 250px;
    width: auto;
}

.product-image5{
    width: 70%;
    margin: 60px;
    height: 240px;
}

@media screen and (orientation: protrait) {
    .products{
        column-count: 2;
        column-gap: 16px;
    }

    .product{
        break-inside: avoid;
    }
}